body {
    background-color: whitesmoke !important;
  }
  
  .card {
    margin-top: 20px;
    width: 350px;
    border: 1px solid whitesmoke !important;
  }
  
  .card > .txt-container > p {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 130px;
    background-color: rgb(118, 79, 79);
    opacity: 0.5;
  }
  
  @media screen and (max-width: 900px) {
    .card {
      width: 100%;
    }
  }

  .orderBtn {
    text-decoration: none;
    background-color: rgb(118, 79, 79);
    color: whitesmoke;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
  }
  
  .orderBtn:hover {
    background-color: rgb(213, 186, 186);
    color: rgb(118, 79, 79);
    border-radius: 3px;
  }