select {
  width: 300px;
  background-color: rgb(118, 79, 79);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
}

select:hover {
  background-color: rgb(213, 186, 186);
  color: rgb(118, 79, 79);
  border: none;
}

/* .filterBtn {
  background-color: rgb(118, 79, 79);
  color: whitesmoke;
  padding: 5px 10px;
  border: none;
}
  
  .filterBtn:hover {
  background-color: rgb(213, 186, 186);
  color: rgb(118, 79, 79);
} */

  .styleBtn {
  background-color: rgb(118, 79, 79);
  color: whitesmoke;
  padding: 5px 10px;
  border: none;
}
  
  .styleBtn:hover {
  background-color: rgb(213, 186, 186);
  color: rgb(118, 79, 79);
}

.grid {
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}